* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #E5E5E5;
    font-family: "IBM Plex Sans";
}

.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 150px;
}

.box-week {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 245px;
    height: 73px;
    border: 1px solid;
}

.box-week2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 245px;
    height: 73px;
    border: 1px solid;
}

.box-week3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 245px;
    height: 73px;
    margin-right: 390px;
    border: 1px solid;
}

.box-pai {
    display: flex;
    margin-left: 300px;
    width: 1200px;
    height: 650px;
}

.box-filho-1 {
    width: 400px;
    height: 640px;
}

.box-filho-2 {
    width: 800px;
    height:  600px;
}

.box-color-primo {
    display: flex;
    background-color: rgb(125, 202, 176);
    width: 800px;
    height: 200px;
}

.box-color-primo2 {
    display: flex;
    background-color: rgb(50, 80, 70);
    width: 800px;
    height: 200px;
    margin-top: 20px;
}

.box-color-primo3 {
    display: flex;
    background-color: rgb(132, 190, 171);
    width: 800px;
    height: 200px;
    margin-top: 20px;

}

.imag-box {
    display: flex;
    border: 1px solid;
    justify-content: center;
    align-items: center;
    background-color: #FF94E1;
    width: 200px;
    height: 200px;

}

.A-text {
    font-size: 80px;
    font-family: "IBM Plex Sans";
}

.B-text {
    font-size: 80px;
    font-family: "IBM Plex Sans";
}

.C-text {
    font-size: 80px;
    font-family: "IBM Plex Sans";
}
.imag-box2 {
    background-color: #222222;
    border: 2px solid;
    width: 200px;
    height: 200px;

}

.imag-box3 {
    background-color: #FF94E1;
    border: 1px solid;
    width: 200px;
    height: 200px;

}

.imag-box4 {
    background-color: #FF94E1;
    border: 1px solid;
    width: 200px;
    height: 200px;

}

.imag-box5 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    width: 200px;
    height: 200px;
    border: 1px solid;

}

.imag-box6 {
    background-color: #FFFFFF;
    width: 200px;
    height: 200px;
    border: 1px solid;

}

.imag-box7 {
    background-color: black;
    width: 200px;
    height: 200px;
    border: 1px solid;

}

.imag-box8 {
    background-color: white;
    width: 200px;
    height: 200px;
    border: 1px solid;

}

.imag-box9 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3FBE81;
    width: 200px;
    height: 200px;
    border: 1px solid;

}

.imag-box10 {
    background-color: #3FBE81;
    width: 200px;
    height: 200px;
    border: 1px solid;

}

.imag-box11 {
    background-color: #3FBE81;
    width: 200px;
    height: 200px;
    border: 1px solid;

}

.imag-box12 {
    background-color: black;
    width: 200px;
    height: 200px;
    border: 1px solid;
}

.header-text-filho {
    font-family: "IBM Plex Sans";
    font-size: 60px;
}

.header-text-filho2 {
    font-family: "IBM Plex Sans";
    font-weight: 24px;
    color: #222222;
}

.header-text-filho3 {
    margin-top: 370px;
    font-family: "IBM Plex Sans";
}

.img-icon-detail {
    width: 145px;
    margin-right: 300px;
    margin-top: -40px;
}

.button-div {
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 130px;

}

.button-back-go {    
    width: 200px;
    height: 60px;
    border: none;
    border-radius: 10px;
}

.button-back-go:hover {
    background-color: black;
    color: white;
    transition: 0.5s;

}
